<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>素敵なモノと出会う場所</h1>
<!-- ログインしてなかったら(unless logged_in) 登録用のリンク作るんやな-->
          <% unless logged_in? %>
            <%= link_to 'モノリストを始める', signup_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>